<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/blog.css">
  <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/vnd.microsoft.icon" />
  <title>TITLE | Club Penguin Imagined</title>
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.cpimagined.net/whats-new/link">
  <meta property="og:title" content="Club Penguin Imagined | Waddle and chat with other penguins!">
  <meta property="og:description" content="Welcome to Club Penguin Imagined! Waddle around and make new friends!">
  <meta property="og:image" content="https://www.cpimagined.net/images/CPIWEBSITEnAVLOGO.png">
</head>

<body>
  <object type="text/html" data="../../../header" width="100%"
    style="position:fixed; left:0px; top:0px; right:0px;z-index:4;"></object>
  <div class="headerbox"></div><br><br>
  <!DOCTYPE html>
  <html>

  <body>
    <div class="ImageBoxContainer" style="width:100%;">
      <div class="ImageBox"
        style="width:85%;background-image:none;background-color:white;border-style:solid;border-color:#64ca64;">
        <div class="blogimghead" style="background-image:url(images/BackgroundNight.png);border-color:#64ca64;">
          <div class="blogcategory" style="background-color:#64ca64;color:#64ca64;">
            <div class="blogcategoryinteriorwhite">
              <img src="images/CategoryPOTM.png" width="90%"><br>
              POTM
            </div>
          </div>
          <div class="blogimggrad"
            style="background-image: linear-gradient(rgba(100, 202, 100, 0), rgba(100, 202, 100, 0), rgba(100, 202, 100, 0.7));">
            <div class="blogauthimg" style="background-image:url(https://play.cpimagined.net/avatar/104/cp?size=120&photo=true);border-color: #64ca64;">
            </div>
            <div class="blogtitle">
              Template Post
            </div>
            <div class="blogauth">
              JeffTheRock
            </div>
          </div>
          <div class="blogdate" style="background-color:#64ca64;">August 2, 2023</div>
        </div>
        <div class="blogimgspacer"></div>
        <div class="ImageBoxImage" style="background-image:url(../../../images/CPITileGreenBasic.png);"></div>
        <div class="blogtext">
          <div class="TextContainer">
            <p>
              this is a template post
            </p>
            <hr class="hrgreen" width="85%" noshade="true">
            <p>
              sora you stink
            </p>
            <div class="blogsigspacer"></div>
            <div class="blogsig">
              - JeffTheRock
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  </html>

  <object type="text/html" data="../../../footer" width="100%"
    style="position:static; left:0px; bottom:0px; right:0px; z-index:4; transform: translate(-8px, 100px);"></object>
</body>

</html>